#<filesMatch "\.(eot|woff|ttf|svg|otf)$">
#  ExpiresActive Off
#  FileETag None
#  <ifModule mod_headers.c>
#     Header unset ETag
#     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
#     Header set Pragma "no-cache"
#     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
#  </ifModule>
#</filesMatch>

ErrorDocument 404 /404/

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

Options -Indexes  